.task-mini {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(9, 30, 66, 0.1);
    padding: 1rem;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.task-mini:hover {
    background-color: #f4f5f7;
}

.task-mini_title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #1a1a1a;
    font-size: 1.1em;
}

.task-mini_description {
    color: #4a4a4a;
    font-size: 0.9em;
}

.task-mini_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 0.9em;
    align-items: center;
}

.task-mini_footer_delete-btn {
    cursor: pointer;
    text-decoration: underline;
    color: #cc3333;
}

.task-mini_footer_sub-tasks-status {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.task-mini_footer_deadline {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}